.divCard{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    height: 600px;
    width: 100%;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center !important;
}
